Repository eternnoir/pyTelegramBotAPI, pull requests merged in 2022-08, with the labels that each got.

#1660 Example of async bot using webhook and aiohttp
  examples/asynchronous_telebot/webhooks/async_webhook_aiohttp_echo_bot.py
Labels: enhancement, example

#1652 Added InputFile
  telebot/apihelper.py
  telebot/asyncio_helper.py
  telebot/types.py
Labels: enhancement, comming soon

#1663 Bot API 6.2
  README.md
  telebot/__init__.py
  telebot/apihelper.py
  telebot/async_telebot.py
  telebot/asyncio_helper.py
  telebot/types.py
  tests/test_types.py
Labels: comming soon, readme, documentation, bot api

#1672 Typo fix
  telebot/__init__.py
  telebot/async_telebot.py
Labels: enhancement, approved

#1675 Fixed #1650
  telebot/types.py
Labels: bug, enhancement, bot api, under discussion

#1679 Code simplify and sync/async unificatiion
  telebot/__init__.py
  telebot/async_telebot.py
Labels: enhancement, code

#1688 Import aioredis from redis module too
  telebot/asyncio_storage/redis_storage.py
Labels: dependencies, under discussion, code

#1691 Starlette ASGI example
  examples/asynchronous_telebot/webhooks/webhook_starlette_echo_bot.py
Labels: example, code
